header{
    margin: var(--margin);
    padding: var(--padding);
    z-index: 10;
    position: sticky;
    top: var(--margin);
    width: calc(100% - (( var(--margin) + var(--padding))* 2));
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 2rem;
    flex-wrap: nowrap;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    color: var( --light-background-color );
    
}

header :first-child{
    margin-left: var(--margin);
}

.clipboard{
    display: flex;
    width: auto;
    height: 40px;
    z-index: 1;
    cursor: pointer;
}

img{
    width:100%;
    height:100%;
    background-size: contain;
    object-fit: contain;
    filter: invert(1);
}

h1{
    margin-left: 10vw;
}

.votre-texte{
    padding: 0;
    width: calc(100% - (( var(--margin))* 2));
}
.votre-texte p{
    background-color: #fff;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--padding);
    box-shadow: var(--box-shadow);
}

.votre-texte p, .vos-blocks p{
    font-size: clamp(0.8rem, 1.5vw, 2rem);
}



.vos-blocks .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
}

.vos-blocks .wrapper .text-block{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: calc(var(--margin) / 2) ;
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.vos-blocks .wrapper .text-block p{

}

.vos-blocks .wrapper .text-block .clipboard{
    width: 30px;
    padding: var(--padding);
}

.vos-blocks .wrapper .text-block img{
    filter: invert(0);

    
}
