
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200&display=swap');


:root {
  --main-color: rgb(54, 143, 139,255);
  --light-secondary-color : rgb(241, 237, 238);
  --light-background-color : rgb( 34, 34, 34);

  --dark-secondary-color : rgb( 34, 34, 34);
  --dark-background-color : rgb(241, 237, 238);

  --font-family : "Poppins", sans-serif;

}

body {
  font: 14px var(--font-family);
}
